<h1>Послуги:</h1>
<ol>
    <li>Ви можете замовляти товари на сайті з доставкою по району "Троєщина" за 35 грн!</li>
    <li>При замовленні товарів на сумму від 500 грн., Ви отримаете безкоштовну доставку до Вашої оселі!(По району "Троєщина")</li>
    <li>Ви можете отримати безкоштовну консультацію по телефону</li>
</ol>
